cups-*-source.tar.gz
freetype-*.tar.gz
freetype-*
cups-*
dummy_libs
freetype-*-x86
jdk1.8.0_*
openjdk
android-ndk-r*
jre.tar.xz
jreout
.DS_Store
.idea
ios-missing-include/cups
ios-missing-include/X11
ios-missing-include/Xm
